{% extends "shared/layout.html" %}

{% block title %}
{% if recipe and recipe.recipeID %}
Edit Recipe
{% else %}
Add Recipe
{% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid" style="width: 80%">
    <h1>
        {% if recipe and recipe.recipeID %}
        Edit Recipe
        {% else %}
        Add Recipe
        {% endif %}
    </h1>

    <form method="POST"
          action="{% if recipe and recipe.recipeID %}{{ url_for('routes.edit_recipe', recipe_id=recipe.recipeID) }}{% else %}{{ url_for('routes.add_recipe') }}{% endif %}">
        <div class="mb-3">
            <label for="recipeName" class="form-label">Recipe Name</label>
            <input type="text" class="form-control" id="recipeName" name="recipe_name"
                   value="{{ recipe.recipeName if recipe else '' }}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description">{{ recipe.description if recipe else '' }}</textarea>
        </div>
        <div id="directionsContainer">
            <label for="directions" class="form-label">Steps</label>
            {% for direction in directions %}
            <div class="mb-3 direction">
                <div class="input-group">
                    <div class="input-group-text">
                        <span class="step-number">{{ loop.index }}</span>
                    </div>
                    <input type="text" class="form-control step-input" name="directions[]"
                           value="{{ direction.instruction }}" required>
                    <button type="button" class="btn btn-danger btn-sm removeDirection"><i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary mb-3" id="addDirection">Add Step</button>
        <div class="container-md" id="ingredientsContainer">
            {% for ingredient in ingredients %}
            <div class="ingredient">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Ingredient</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="ingredients[]"
                               value="{{ ingredient.ingredientName }}" required>
                    </div>
                    <label class="col-sm-1 col-form-label">Quantity</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" name="quantities[]" value="{{ ingredient.quantity }}"
                               required>
                    </div>
                    <label class="col-sm-1 form-label">Unit</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="units[]" value="{{ ingredient.unit }}" required>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-danger removeIngredient"><i
                                class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary mb-3" id="addIngredient">Add Ingredient</button>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">
                {% if recipe and recipe.recipeID %}
                Save changes
                {% else %}
                Add Recipe
                {% endif %}
            </button>
            <a href="javascript:history.go(-1)" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script>
    // JavaScript to add new direction input fields
    document.getElementById('addDirection').addEventListener('click', function () {
        let container = document.getElementById('directionsContainer');
        let div = document.createElement('div');
        div.className = 'mb-3 direction'; // Match the existing class for margins
        div.innerHTML = `
        <div class="input-group">
            <div class="input-group-text">
                <span class="step-number">${container.querySelectorAll('.step-number').length + 1}</span>
            </div>
            <input type="text" class="form-control step-input" name="directions[]" placeholder="Enter step" required>
            <button type="button" class="btn btn-danger btn-sm removeDirection">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    `;
        container.appendChild(div);
    });


    // Function to update step numbers
    function updateStepNumbers() {
        let stepNumbers = document.querySelectorAll('.step-number');
        stepNumbers.forEach((step, index) => {
            step.textContent = index + 1;
        });
    }

    // JavaScript to add new ingredient input fields
    document.getElementById('addIngredient').addEventListener('click', function () {
        let container = document.getElementById('ingredientsContainer');
        let div = document.createElement('div');
        div.className = 'ingredient';
        div.innerHTML = `
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Ingredient</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="ingredients[]" required>
            </div>
            <label class="col-sm-1 col-form-label">Quantity</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" name="quantities[]" required>
            </div>
            <label class="col-sm-1 form-label">Unit</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="units[]" required>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-danger removeIngredient"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    `;
        container.appendChild(div);
    });

    // JavaScript to remove direction input fields
    $(document).on('click', '.removeDirection', function () {
        $(this).closest('.direction').remove();
        updateStepNumbers(); // Update step numbers after removal
    });

    // JavaScript to remove ingredient input fields
    $(document).on('click', '.removeIngredient', function () {
        $(this).closest('.ingredient').remove();
    });

    // Initial call to update step numbers in case of pre-existing directions
    updateStepNumbers();
</script>
{% endblock %}
