{% extends "shared/layout.html" %}

{% block title %}My Favourite Recipes{% endblock %}

{% block content %}
<div class="container-fluid" style="width: 80%">
    <h1 class="text-center mb-3">My Favourite Recipes</h1>
    <!-- Search Form -->
    <form id="searchForm" class="form-inline mb-3" method="GET" action="{{ url_for('routes.my_favourites') }}">
        <div class="row">
            <div class="col-auto">
                <label for="searchMyFavourites" class="visually-hidden">Search My Favourites</label>
                <input type="text" id="searchMyFavourites" class="form-control" name="search"
                       placeholder="Search by name" aria-label="search" value="{{ search_term }}">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-success ml-1">Search</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid text-center" id="myFavouriteRecipeContainer">
    {% if recipes|length == 0 %}
    <div class="container-fluid">
        <h3>No favourite recipes found</h3>
    </div>
    {% else %}
    <table class="table table-bordered table-hover">
        <thead class="table-danger">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe.recipeName }}</td>
            <td>{{ recipe.description }}</td>
            <td>
                {% if recipe.averageRating %}
                {{ recipe.averageRating }} ({{ recipe.ratingCount }})
                {% else %}
                Not rated
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('routes.get_recipe_details', recipe_id=recipe.recipeID) }}"
                   class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- Pagination Controls -->
<div class="d-flex justify-content-center">
    {{ pagination.links }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/favourites.js') }}"></script>
{% endblock %}