{% extends "shared/layout.html" %}

{% block title %}Community{% endblock %}

{% block content %}
<div class="container-fluid" style="width: 80%;">
    <h1 class="text-center">Community</h1>
    <form id="searchCommentsForm">
        <div class="row">
            <div class="col-auto">
                <label for="searchComments" class="visually-hidden">Search Comments</label>
                <input id="searchComments" class="form-control" type="text" placeholder="Search Comments.."
                       name="search" value="{{ search_query }}">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-success">Search</button>
            </div>
        </div>
    </form>

    <div class="row mb-3">
        <div class="container-fluid text-end">
            <button id="addCommentButton" type="button" class="btn btn-dark" data-bs-toggle="modal"
                    data-bs-target="#addCommentModal">
                <i class="fas fa-plus"></i> Add Comment
            </button>
        </div>
    </div>

    <div class="row">
        <div class="list-group" id="comments-data" data-comments="{{ comments|tojson|safe }}">
            {% for comment in comments %}
            <div class="list-group-item" data-thread-id="{{ comment.threadID }}">
                <div class="comment-header">
                    <h5 class="comment-user">{{ comment.created_by_username }}</h5>
                </div>
                <p class="comment-text">{{ comment.threadName }}</p>
                <div class="comment-footer">
                    <span class="comment-count"><i class="fa fa-comments fa-lg"></i>{{ comment.count }}</span>
                    <button class="btn btn-warning replybutton" data-thread-id="{{ comment.threadID }}">Reply</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Add Comment Modal -->
<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addCommentModalLabel">Add Comment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addCommentForm">
                    <div class="mb-3">
                        <label for="commentInput" class="form-label">Comment</label>
                        <textarea class="form-control" id="commentInput" rows="3" name="comment"
                                  placeholder="Add your comment" required></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Reply Modal -->
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="replyModalLabel">Replies</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="commentContent" class="comment-content">
                    <!-- Comment content will be dynamically added here -->
                </div>
                <div id="replyContainer" class="reply-container">
                    <!-- Replies will be dynamically added here -->
                </div>
                <form id="replyForm">
                    <div class="mb-3">
                        <label for="replyInput" class="form-label visually-hidden">Reply</label>
                        <textarea id="replyInput" class="form-control" rows="3" name="reply"
                                  placeholder="Add your reply" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Reply</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/community.js') }}"></script>
{% endblock %}
