{% extends "shared/layout.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="center">
    <div class="centerflex">
        <div>
            <h1 class="text-center">Edit Profile</h1>
            <div>
                <div>
                    <form method="POST">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" class="form-control" name="username" value="{{ username }}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control" name="email" value="{{ user.email }}" required>
                        </div>
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input type="password" id="password" class="form-control" name="password">
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm New Password</label>
                            <input type="password" id="confirm_password" class="form-control" name="confirm_password">
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('form');

        form.addEventListener('submit', function(event) {
            var password = form.querySelector('#password').value;
            var confirm_password = form.querySelector('#confirm_password').value;

            if (password !== confirm_password) {
                alert('Passwords do not match. Please try again.');
                event.preventDefault(); // Prevent form submission
            }
        });
    });
</script>

{% endblock %}
