{% extends "shared/layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" type ="text/css" href='/static/style.css' />
<body>
<div class="pb-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center mb-5">Welcome to RecipeGenie</h1>
            <div class="grey-bg">
                <h3 class="text-center p-3">How RecipeGenie works:</h3>
                <div class="row p-5">
                    <div class="col-md-4"> 
                        <div class="mr-2 text-center"><i class="fas fa-search fa-3x"></i></i></div><br>
                        <div class="text-center"> <!-- Description -->
                            Search and we suggest recipes based on your available ingredients
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mr-2 text-center"><i class="fas fa-save fa-3x"></i></div><br>
                        <div class="text-center"> <!-- Description -->
                            Share your recipes and explore creations from other users in our community.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mr-2 text-center"><i class="fas fa-users fa-3x"></i></div><br> <!-- Icon -->
                        <div class="text-center"> <!-- Description -->
                            Follow the easey-to-use recipes and enjoy your culinary journey.
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center p-3 mb-5">
                <h2 class="p-4">Our Mission</h2>
                <p>At Recipe Genie, our mission is to simplify meal planning and reduce food waste by helping users make
                    the most of their available ingredients.
                    <br />We inspire creativity in the kitchen and foster a vibrant community of culinary enthusiasts.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}