{% extends "shared/layout.html" %}

{% block title %}Nasi Lemak{% endblock %}

{% block content %}

<style>
    img {
        width: 65%;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img class=""
                 src="https://www.seriouseats.com/thmb/jurw_XoUko0sLM17lhIWseKvsyM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/20230309-NasiLemak-MichelleYip-Option1-8d0b9468c998495f91ef4ff6d3b5ab6b.jpg"/>
            <p>
                Created by User 1&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                2022-03-01 14:30:00
            </p>
        </div>
        <div class="col">
            <p>
                <span><b> Calories:</b> &emsp; test</span>
            </p>
            <p>
                <span><b> Protein:</b> &emsp; test</span>
            </p>
            <p>
                <span><b> Fats:</b> &emsp; test</span>
            </p>
            <p>
                <span><b> Cholesterol:</b> &emsp; test</span>
            </p>
            <p>
                <span><b> Sodium:</b> &emsp; test</span>
            </p>
            <p>
                <span><b> Choline:</b> &emsp; test</span>
            </p>
            <p>
                <span><b> Folate:</b> &emsp; test</span>
            </p>
            <p>
                <span><b> Serving Size:</b> &emsp; test</span>
            </p>


        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>
            <span class="h3">
                Nasi Lemak<br>
            </span>
                <span class="description">
                A rice dish commonly served with roasted nuts, egg, ikan bilis (anchovies),
                and slices of cucmber. Literally meaning "fatty rice" in Malay, nasi lemak's
                distinctive taste comes from cooking the rice in coconut milk and pandan
                leaves which gives the dish its rich flavour and fragrant aroma.
            </span>

            </p>
            <p>
            <span>
                <b>Average Rating: &nbsp; 4.2/5</b> 
            </span>
            </p>
        </div>
        <div class="col">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>
            <span class="h4">
                Ingredients<br>
            </span>
            <ul>
                <li>3 cups of jasmine rice or any white long-grain rice</li>
                <li>&frac12; cup coconut cream (thick coconut milk)</li>
                <li>3 cups water add another 1/2 cup if cooking on the stove</li>
                <li>2 pandan leaves (screwpine leaves-knotted)</li>
                <li>1 stalk lemongrass(bruised)</li>
                <li>2 tsp cooking oil divided</li>
                <li>1 cup dried anchovies</li>
                <li>1 cup dry roasted peanuts</li>
                <li>Pinch of sugar</li>
                <li>1 small cucumber</li>
                <li>Sambal nasi lemak</li>
            </ul>
            </p>
        </div>
        <div class="col">
            <p class="h4">
                Instructions<br>
            </p>
            <span>
            Cooking the Rice:
        </span>
            <ul>
                <li>If you have a rice cooker, life couldn't be any easier, just put everything
                    in the rice cooker and press the cook button. Wait 10 minutes before opening the lid and fluff the
                    rice
                </li>
                <li>If you don't own one, use a heavy-bottom pot. Bring the water, coconut milk, pandan leaves, and
                    lemongrass to a boil
                    and then add the rice. Bring it bacak to a gentle simmer and then close the lid. Cook for 5 minutes
                    and then give it a stir
                    to prevent coconut milk from catching. Close the lid back and cook for another 5 minutes. Turn off
                    the heat. Wait 10 minutes
                    before opening the lid to fluff the rice
                </li>
            </ul>
            <span>
            Fried anchovies:
        </span>
            <ul>
                <li>Preheat a medium-size pan with 1 tsp cooking oil. Add anchovies and pan fry until crispy. Add a
                    small pinch of salt
                    and sugar and dish out. In the same pan, add another 1 tsp of oil. Add the peanuts and cook until
                    the peanuts are lightly
                    brown. Add a pinch of sugar and salt. Turn off the heat and give it a good stir to mix everything.
                    Remove from heat.
                </li>
            </ul>
            <span>
            When ready to serve.
        </span>
            <ul>
                <li>Portion the rice on the plate. Place the sambal, dried anchovies and peanuts, and few slices of
                    cucumber
                    on the side of the plate. Ready to go
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}