{% extends "shared/layout.html" %}

{% block title %}More Details{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>
                <span class="h3">
                    {{ recipe.recipeName }}e<br>
                </span>
                <span class="description">
                    {{ recipe.description }}
                </span>
            </p>
            <p>
                <span>
                    <b>Average Rating: </b>{{ recipe.averageRating }} ({{ recipe.ratingCount }} ratings)
                </span>
            </p>
        </div>
        <div class="col">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>
                <span class="h4">
                    Ingredients<br>
                </span>
            <ul>
                <li>3 cups of jasmine rice or any white long-grain rice</li>
                <li>&frac12; cup coconut cream (thick coconut milk)</li>
                <li>3 cups water add another 1/2 cup if cooking on the stove</li>
                <li>2 pandan leaves (screwpine leaves-knotted)</li>
                <li>1 stalk lemongrass(bruised)</li>
                <li>2 tsp cooking oil divided</li>
                <li>1 cup dried anchovies</li>
                <li>1 cup dry roasted peanuts</li>
                <li>Pinch of sugar</li>
                <li>1 small cucumber</li>
                <li>Sambal nasi lemak</li>
            </ul>
            </p>
        </div>
        <div class="col">
            <p class="h4">
                Instructions<br>
            </p>
            <ol>
                {% for step in recipe.instruction.split('\n') %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>


<div class=" p-5">
    <p class="text-secondary">
        Created by {{ recipe.username }}
        <br>
        {{ recipe.created_At }}
    </p>
</div>


{% endblock %}