{% extends "shared/layout.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 class="my-4">Search Results</h1>

    {% if recipes %}
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.recipeName }}</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                    <p class="card-text">Average Rating: {{ recipe.averageRating }}</p>
                    <p class="card-text">Rating Count: {{ recipe.ratingCount }}</p>
                    <a href="{{ url_for('get_recipe_details', recipe_id=recipe.recipeID) }}" class="btn btn-primary">View
                        Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container">
        <p>No recipes found for the specified ingredients.</p>
    </div>
    {% endif %}

    <a href="{{ url_for('get_recipes') }}" class="btn btn-secondary mt-4">Back to Discover</a>
</div>

{% endblock %}r